<section class="padding-50px-tb bg-gray builder-bg contact-form-style6 border-none xs-padding-60px-tb wow slideInUp" data-wow-duration="0.5s" data-wow-delay="0.5s" id="contact-section12">
    <div class="container">
        <div class="row" id="form">
            <!-- section title -->
            <div class="col-md-6 col-sm-12 col-xs-12 center-col text-center">
                <h2 class="section-title-large sm-section-title-medium xs-section-title-large text-dark-gray font-weight-600 alt-font margin-six-bottom xs-margin-fifteen-bottom tz-text">
                    {{!-- ĐĂNG KÝ --}}
                </h2>
            </div>
            <!-- end section title -->
            <!-- contact form  -->
            <div class="col-md-6 col-sm-12 col-xs-12 center-col text-center">
                <div class="tab-style8">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <!-- tab navigation -->
                            <ul class="nav nav-tabs nav-tabs-light text-left alt-font text-small display-inherit text-center font-weight-500">
                                <li class="active"><a href="#tab_sec1" data-toggle="tab"><span class="tz-text">Cài đặt BOT</span></a></li>
                                {{!-- <li><a href="#tab_sec2" data-toggle="tab"><span class="tz-text">Card Info</span></a></li> --}}
                            </ul>
                            <!-- tab end navigation -->
                        </div>
                    </div>
                    <div class="tab-content">     
                        <!-- tab content -->
                        <div class="tab-pane med-text fade in active" id="tab_sec0">    
                            <div class="row">
                                <form action="/bot/add_update/vIJQh69U0r" class="width-100" method="post">
                                    <textarea class="medium-input border-radius-4" style="height: 150px" data-email="required" id="greeting" name="greeting" placeholder="*Your Greeting Message" type="text">{{doc.greeting_message}}</textarea>
                                    <input class="medium-input border-radius-4" data-email="required" id="" name="dialog-parent-0" placeholder="* Thú cưng" type="text" value="{{doc.data_dialog.0.dialogName}}"/>
                                    <div class="row">
                                        <div class="col-md-11 col-md-offset-1"> 
                                        {{#if doc}}
                                            {{#each doc.data_dialog.0.content}}
                                            <input class="medium-input border-radius-4" data-email="required" id="" name="dialog-sub-{{inc @index 0}}-title" placeholder="Dialog {{@index}}" type="text" value="{{this.childDialogName}}"/>
                                            <div class="row">
                                                <div class="col-md-4 col-md-offset-0">
                                                    <input class="medium-input border-radius-4" data-email="required" id="" name="dialog-sub-{{inc @index 0}}-number" placeholder="Number of cards" type="text" value="{{this.pagination}}"/>
                                                </div>
                                                <div class="col-md-4">
                                                    <a href="#tab_sec{{inc @index 0}}" data-toggle="tab" style="margin-left:-50%" class="btn btn-default">Add Card</a>
                                                </div>
                                            </div>
                                            {{/each}} 
                                        {{else}}
                                            {{#times 1 3}} 
                                            <input class="medium-input border-radius-4" data-email="required" id="" name="dialog-sub-{{this}}-title" placeholder="Dialog {{this}}" type="text" value="{{this.childDialogName}}"/>
                                            <div class="row">
                                                <div class="col-md-4 col-md-offset-0">
                                                    <input class="medium-input border-radius-4" data-email="required" id="" name="dialog-sub-{{this}}-number" placeholder="Number of cards" type="text" value="{{this.pagination}}"/>
                                                </div>
                                                <div class="col-md-4">
                                                    <a href="#tab_sec{{this}}" data-toggle="tab" style="margin-left:-50%" class="btn btn-default">Add Card</a>
                                                </div>
                                            </div>
                                            {{/times}}
                                        {{/if}}     
                                        </div>
                                    </div>

                                   
                                    <input class="medium-input border-radius-4" data-email="required" id="" name="dialog-parent-1" placeholder="* Sản phẩm" type="text" value="{{doc.data_dialog.1.dialogName}}"/>
                                    <div class="row">
                                        <div class="col-md-11 col-md-offset-1">
                                            {{#if doc}}
                                            {{#each doc.data_dialog.1.content}}
                                                <input class="medium-input border-radius-4" data-email="required" id="" name="dialog-sub-{{inc @index 3}}-title" placeholder="Dialog {{@index}}" type="text" value="{{this.childDialogName}}"/>
                                                <div class="row">
                                                    <div class="col-md-4 col-md-offset-0">
                                                        <input class="medium-input border-radius-4" data-email="required" id="" name="dialog-sub-{{inc @index 3}}-number" placeholder="Number of cards" type="text" value="{{this.pagination}}"/>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <a href="#tab_sec{{inc @index 3}}" data-toggle="tab" style="margin-left:-50%" class="btn btn-default">Add Card</a>
                                                    </div>
                                                </div>
                                            {{/each}}
                                            {{else}}
                                                {{#times 4 6}} 
                                                <input class="medium-input border-radius-4" data-email="required" id="" name="dialog-sub-{{this}}-title" placeholder="Dialog {{this}}" type="text" value="{{this.childDialogName}}"/>
                                                <div class="row">
                                                    <div class="col-md-4 col-md-offset-0">
                                                        <input class="medium-input border-radius-4" data-email="required" id="" name="dialog-sub-{{this}}-number" placeholder="Number of cards" type="text" value="{{this.pagination}}"/>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <a href="#tab_sec{{this}}" data-toggle="tab" style="margin-left:-50%" class="btn btn-default">Add Card</a>
                                                    </div>
                                                </div>
                                                {{/times}} 
                                            {{/if}}   
                                        </div>
                                    </div>

                                    <input class="medium-input border-radius-4" data-email="required" id="" name="dialog-parent-2" placeholder="* Dịch vụ" type="text" value="{{doc.data_dialog.2.dialogName}}"/>
                                    <div class="row">
                                        <div class="col-md-11 col-md-offset-1">
                                            {{#if doc}}
                                            {{#each doc.data_dialog.2.content}}
                                                <input class="medium-input border-radius-4" data-email="required" id="" name="dialog-sub-{{inc @index 6}}-title" placeholder="Dialog {{@index}}" type="text" value="{{this.childDialogName}}"/>
                                                <div class="row">
                                                    <div class="col-md-4 col-md-offset-0">
                                                        <input class="medium-input border-radius-4" data-email="required" id="" name="dialog-sub-{{inc @index 6}}-number" placeholder="Number of cards" type="text" value="{{this.pagination}}"/>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <a href="#tab_sec{{inc @index 6}}" data-toggle="tab" style="margin-left:-50%" class="btn btn-default">Add Card</a>
                                                    </div>
                                                </div>
                                            {{/each}}
                                            {{else}}
                                                {{#times 7 9}} 
                                                <input class="medium-input border-radius-4" data-email="required" id="" name="dialog-sub-{{this}}-title" placeholder="Dialog {{this}}" type="text" value="{{this.childDialogName}}"/>
                                                <div class="row">
                                                    <div class="col-md-4 col-md-offset-0">
                                                        <input class="medium-input border-radius-4" data-email="required" id="" name="dialog-sub-{{this}}-number" placeholder="Number of cards" type="text" value="{{this.pagination}}"/>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <a href="#tab_sec{{this}}" data-toggle="tab" style="margin-left:-50%" class="btn btn-default">Add Card</a>
                                                    </div>
                                                </div>
                                                {{/times}} 
                                            {{/if}}  
                                        </div>
                                    </div>
                                    
                                    <button class="tz_submit btn-medium btn-circle btn bg-sky-blue text-white tz-text" id="publish" style="width: 90%" type="button">
                                       Publish
                                   </button>
                                </form>

                            </div>
                        </div>
                        <!-- end tab content -->

                        {{!-- Thu cung --}}
                        <!-- tab content -->    
      
                        
                        
                    
                    </div>
                </div>
            </div>
            <!-- end contact form  -->
        </div>
    </div>
</section>

<!-- tab content -->

<!-- end tab content -->
{{#contentFor "pageScripts"}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.js" type="text/javascript"></script>
    <script>
        let content1 = JSON.parse({{{json data1}}})
        let content2 = JSON.parse({{{json data2}}})
        let content3 = JSON.parse({{{json data3}}})

        $(document).ready(function($) {
            console.log(content1)
            console.log(content2)
            console.log(content3)
            var html1 = ""
            var html2 = ""
            var html3 = ""
            html1 = loop(0, 3, 1, content1)
            html2 = loop(0, 3, 4, content2)
            html3 = loop(0, 3, 7, content3) 

            $('.tab-content').append(html1)
            $('.tab-content').append(html2)
            $('.tab-content').append(html3)      
        })

        function loop(from, to, by, data) {
            var html = ""
            for (let i = from; i < to; i++) {
                html += 
                "<div class='tab-pane fade in' id='tab_sec"+(i+by)+"'>" +
                    "<div class='row'>" +
                        "<div class='row' style='width: 200%; margin-left: -50%; text-align: left' >" +
                            generateCard("dialog-sub-" + (i+by), data[i]) +
                        "</div>" +
                        "<a href='#tab_sec0' data-toggle='tab' class='tz_submit btn-medium btn-circle btn bg-light-gray text-white tz-text' style='width: 50%'>" +
                        "Back</a> <br><br>" +
                        "<button class='tz_submit btn-medium btn-circle btn bg-medium-green text-white tz-text' id='dialog-sub-"+(i+by)+"' style='width: 50%' type='submit'>" +
                            "Save" +
                        "</button>" +
                    "</div>" +
                "</div>"
            }
            return html
        } 
        function generateCard(name, data) {
            var html = ""
            if (data != null) {
                let count = data['data'].length
                for (let i = 0; i < 12; i++) {
                    if (i < count ) {
                        let value = data['data']
                        html +=
                        "<div class='col-md-4'>" +
                            "Card " + (i + 1) +
                            "<input class='small-input border-radius-4' data-email='required' name='"+name + "-" + (i+1)+"-title' placeholder='Title' type='text' value='"+ value[i]['title'] +"' />" +
                            "<input class='small-input border-radius-4' data-email='required' name='"+name + "-" + (i+1)+"-desctiption' placeholder='Description' type='text' value='"+ value[i]['desctiption'] +"' />" +
                            "<input class='small-input border-radius-4' data-email='required' name='"+name + "-" + (i+1)+"-thumbnail' placeholder='Thumbnail Image' type='text' value='"+ value[i]['thumbnail'] +"' />" +
                            "<input class='small-input border-radius-4' data-email='required' name='"+name + "-" + (i+1)+"-button' placeholder='Button Text' type='text' value='"+ value[i]['button'] +"' />" +
                            "<input class='small-input border-radius-4' data-email='required' name='"+name + "-" + (i+1)+"-link' placeholder='Button Link' type='text' value='"+ value[i]['link'] +"' />" +
                        "</div>"
                    } else {
                        html +=
                        "<div class='col-md-4'>" +
                            "Card " + (i + 1) +
                            "<input class='small-input border-radius-4' data-email='required' name='"+name + "-" + (i+1)+"-title' placeholder='Title' type='text' value='' />" +
                            "<input class='small-input border-radius-4' data-email='required' name='"+name + "-" + (i+1)+"-desctiption' placeholder='Description' type='text' value='' />" +
                            "<input class='small-input border-radius-4' data-email='required' name='"+name + "-" + (i+1)+"-thumbnail' placeholder='Thumbnail Image' type='text' value='' />" +
                            "<input class='small-input border-radius-4' data-email='required' name='"+name + "-" + (i+1)+"-button' placeholder='Button Text' type='text' value='' />" +
                            "<input class='small-input border-radius-4' data-email='required' name='"+name + "-" + (i+1)+"-link' placeholder='Button Link' type='text' value='' />" +
                        "</div>"
                    }               
                }
            } else {
                for (let i = 0; i < 12; i++) {
                    html +=
                    "<div class='col-md-4'>" +
                        "Card " + (i + 1) +
                        "<input class='small-input border-radius-4' data-email='required' name='"+name + "-" + (i+1)+"-title' placeholder='Title' type='text' value='' />" +
                        "<input class='small-input border-radius-4' data-email='required' name='"+name + "-" + (i+1)+"-desctiption' placeholder='Description' type='text' value='' />" +
                        "<input class='small-input border-radius-4' data-email='required' name='"+name + "-" + (i+1)+"-thumbnail' placeholder='Thumbnail Image' type='text' value='' />" +
                        "<input class='small-input border-radius-4' data-email='required' name='"+name + "-" + (i+1)+"-button' placeholder='Button Text' type='text' value='' />" +
                        "<input class='small-input border-radius-4' data-email='required' name='"+name + "-" + (i+1)+"-link' placeholder='Button Link' type='text' value='' />" +
                    "</div>"
                }     
            }
            return html
        }

    </script>
    <script type="text/javascript">
        var dialog_sub_1 = content1[0] || {}
        var dialog_sub_2 = content1[1] || {}
        var dialog_sub_3 = content1[2] || {}
        var dialog_sub_4 = content2[0] || {}
        var dialog_sub_5 = content2[1] || {}
        var dialog_sub_6 = content2[2] || {}
        var dialog_sub_7 = content3[0] || {}
        var dialog_sub_8 = content3[1] || {}
        var dialog_sub_9 = content3[2] || {}
        
        $('#publish').click(function() {
            let megaData = []
            let greetingMessage = $('textarea[name=greeting]').val()
            let dialog1 = $('input[name=dialog-parent-0]').val()
            let dialog2 = $('input[name=dialog-parent-1]').val()
            let dialog3 = $('input[name=dialog-parent-2]').val()

            if (dialog1) {
                dialog_sub_1["pagination"] = $('input[name=dialog-sub-1-number]').val()
                dialog_sub_1["childDialogName"] = $('input[name=dialog-sub-1-title]').val()
                dialog_sub_2["pagination"] = $('input[name=dialog-sub-2-number]').val()
                dialog_sub_2["childDialogName"] = $('input[name=dialog-sub-2-title]').val()
                dialog_sub_3["pagination"] = $('input[name=dialog-sub-3-number]').val()
                dialog_sub_3["childDialogName"] = $('input[name=dialog-sub-3-title]').val()
               
                let dialog = {
                    dialogName: dialog1,
                    content: [dialog_sub_1, dialog_sub_2, dialog_sub_3]
                }
                megaData.push(dialog)
            } 
            if (dialog2) {
                dialog_sub_4["pagination"] = $('input[name=dialog-sub-4-number]').val()
                dialog_sub_4["childDialogName"] = $('input[name=dialog-sub-4-title]').val()
                dialog_sub_5["pagination"] = $('input[name=dialog-sub-5-number]').val()
                dialog_sub_5["childDialogName"] = $('input[name=dialog-sub-5-title]').val()
                dialog_sub_6["pagination"] = $('input[name=dialog-sub-6-number]').val()
                dialog_sub_6["childDialogName"] = $('input[name=dialog-sub-6-title]').val()

                let dialog = {
                    dialogName: dialog2,
                    content: [dialog_sub_4, dialog_sub_5, dialog_sub_6]
                }
                megaData.push(dialog)
            }
            if (dialog3) {
                dialog_sub_7["pagination"] = $('input[name=dialog-sub-7-number]').val()
                dialog_sub_7["childDialogName"] = $('input[name=dialog-sub-7-title]').val()
                dialog_sub_8["pagination"] = $('input[name=dialog-sub-8-number]').val()
                dialog_sub_8["childDialogName"] = $('input[name=dialog-sub-8-title]').val()
                dialog_sub_9["pagination"] = $('input[name=dialog-sub-9-number]').val()
                dialog_sub_9["childDialogName"] = $('input[name=dialog-sub-9-title]').val()

                let dialog = {
                    dialogName: dialog3,
                    content: [dialog_sub_7, dialog_sub_8, dialog_sub_9]
                }
                megaData.push(dialog)
            }

            var parameters = {
                _id: "sdsad",
                megaData: megaData,
                greetingMessage: greetingMessage
            };
            
            var json_text = JSON.stringify(parameters)
            
            $.ajax({
                url: '/bot/add_update',
                type: 'post',
                contentType: "application/json; charset=utf-8",
                data: json_text,
                dataType: 'json',
                success: function(response) {
                    let parse = JSON.parse(response)
                },
                error: function() {
                    console.log('Something wrong')
                }
            })
            
            console.log(parameters)
        })

        $(document).on('click', '#dialog-sub-1', function(){
            let data = []
            for (var i = 1; i <= 12; i ++) {
                let title       = $(`input[name=dialog-sub-1-${i}-title`).val()
                let desctiption = $(`input[name=dialog-sub-1-${i}-desctiption`).val()
                let thumbnail   = $(`input[name=dialog-sub-1-${i}-thumbnail`).val()
                let button      = $(`input[name=dialog-sub-1-${i}-button`).val()
                let link        = $(`input[name=dialog-sub-1-${i}-link`).val()
                if (title != null && title != "") {
                    let content = {
                        title: title,
                        desctiption: desctiption,
                        thumbnail: thumbnail,
                        button: button,
                        link: link
                    }
                    data.push(content)
                }
            }
            dialog_sub_1["data"] = data
            console.log(data)
        })
        $(document).on('click', '#dialog-sub-2', function(){
            let data = []
            for (var i = 1; i <= 12; i ++) {
                let title       = $(`input[name=dialog-sub-2-${i}-title`).val()
                let desctiption = $(`input[name=dialog-sub-2-${i}-desctiption`).val()
                let thumbnail   = $(`input[name=dialog-sub-2-${i}-thumbnail`).val()
                let button      = $(`input[name=dialog-sub-2-${i}-button`).val()
                let link        = $(`input[name=dialog-sub-2-${i}-link`).val()
                if (title != null && title != "") {
                    let content = {
                        title: title,
                        desctiption: desctiption,
                        thumbnail: thumbnail,
                        button: button,
                        link: link
                    }
                    data.push(content)
                }
            }
            dialog_sub_2["data"] = data
            console.log(data)
        })
        $(document).on('click', '#dialog-sub-3', function(){
            let data = []
            for (var i = 1; i <= 12; i ++) {
                let title       = $(`input[name=dialog-sub-3-${i}-title`).val()
                let desctiption = $(`input[name=dialog-sub-3-${i}-desctiption`).val()
                let thumbnail   = $(`input[name=dialog-sub-3-${i}-thumbnail`).val()
                let button      = $(`input[name=dialog-sub-3-${i}-button`).val()
                let link        = $(`input[name=dialog-sub-3-${i}-link`).val()
                if (title != null && title != "") {
                    let content = {
                        title: title,
                        desctiption: desctiption,
                        thumbnail: thumbnail,
                        button: button,
                        link: link
                    }
                    data.push(content)
                }
            }
            dialog_sub_3["data"] = data
            console.log(data)
        })

        $(document).on('click', '#dialog-sub-4', function() {
            let data = []
            for (var i = 1; i <= 12; i ++) {
                let title       = $(`input[name=dialog-sub-4-${i}-title`).val()
                let desctiption = $(`input[name=dialog-sub-4-${i}-desctiption`).val()
                let thumbnail   = $(`input[name=dialog-sub-4-${i}-thumbnail`).val()
                let button      = $(`input[name=dialog-sub-4-${i}-button`).val()
                let link        = $(`input[name=dialog-sub-4-${i}-link`).val()
                if (title != null && title != "") {
                    let content = {
                        title: title,
                        desctiption: desctiption,
                        thumbnail: thumbnail,
                        button: button,
                        link: link
                    }
                    data.push(content)
                }
            }
            dialog_sub_4["data"] = data
            console.log(data)
        })
        $(document).on('click', '#dialog-sub-5', function() {
            let data = []
            for (var i = 1; i <= 12; i ++) {
                let title       = $(`input[name=dialog-sub-5-${i}-title`).val()
                let desctiption = $(`input[name=dialog-sub-5-${i}-desctiption`).val()
                let thumbnail   = $(`input[name=dialog-sub-5-${i}-thumbnail`).val()
                let button      = $(`input[name=dialog-sub-5-${i}-button`).val()
                let link        = $(`input[name=dialog-sub-5-${i}-link`).val()
                if (title != null && title != "") {
                    let content = {
                        title: title,
                        desctiption: desctiption,
                        thumbnail: thumbnail,
                        button: button,
                        link: link
                    }
                    data.push(content)
                }
            }
            dialog_sub_5["data"] = data
            console.log(data)
        })
        $(document).on('click', '#dialog-sub-6', function() {
            let data = []
            for (var i = 1; i <= 12; i ++) {
                let title       = $(`input[name=dialog-sub-6-${i}-title`).val()
                let desctiption = $(`input[name=dialog-sub-6-${i}-desctiption`).val()
                let thumbnail   = $(`input[name=dialog-sub-6-${i}-thumbnail`).val()
                let button      = $(`input[name=dialog-sub-6-${i}-button`).val()
                let link        = $(`input[name=dialog-sub-6-${i}-link`).val()
                if (title != null && title != "") {
                    let content = {
                        title: title,
                        desctiption: desctiption,
                        thumbnail: thumbnail,
                        button: button,
                        link: link
                    }
                    data.push(content)
                }
            }
            dialog_sub_6["data"] = data
            console.log(data)
        })

        $(document).on('click', '#dialog-sub-7', function() {
            let data = []
            for (var i = 1; i <= 12; i ++) {
                let title       = $(`input[name=dialog-sub-7-${i}-title`).val()
                let desctiption = $(`input[name=dialog-sub-7-${i}-desctiption`).val()
                let thumbnail   = $(`input[name=dialog-sub-7-${i}-thumbnail`).val()
                let button      = $(`input[name=dialog-sub-7-${i}-button`).val()
                let link        = $(`input[name=dialog-sub-7-${i}-link`).val()
                if (title != null && title != "") {
                    let content = {
                        title: title,
                        desctiption: desctiption,
                        thumbnail: thumbnail,
                        button: button,
                        link: link
                    }
                    data.push(content)
                }
            }
            dialog_sub_7["data"] = data
            console.log(data)
        })
        $(document).on('click', '#dialog-sub-8', function() {
            let data = []
            for (var i = 1; i <= 12; i ++) {
                let title       = $(`input[name=dialog-sub-8-${i}-title`).val()
                let desctiption = $(`input[name=dialog-sub-8-${i}-desctiption`).val()
                let thumbnail   = $(`input[name=dialog-sub-8-${i}-thumbnail`).val()
                let button      = $(`input[name=dialog-sub-8-${i}-button`).val()
                let link        = $(`input[name=dialog-sub-8-${i}-link`).val()
                if (title != null && title != "") {
                    let content = {
                        title: title,
                        desctiption: desctiption,
                        thumbnail: thumbnail,
                        button: button,
                        link: link
                    }
                    data.push(content)
                }
            }
            dialog_sub_8["data"] = data
            console.log(data)
        })
        $(document).on('click', '#dialog-sub-9', function() {
            let data = []
            for (var i = 1; i <= 12; i ++) {
                let title       = $(`input[name=dialog-sub-9-${i}-title`).val()
                let desctiption = $(`input[name=dialog-sub-9-${i}-desctiption`).val()
                let thumbnail   = $(`input[name=dialog-sub-9-${i}-thumbnail`).val()
                let button      = $(`input[name=dialog-sub-9-${i}-button`).val()
                let link        = $(`input[name=dialog-sub-9-${i}-link`).val()
                if (title != null && title != "") {
                    let content = {
                        title: title,
                        desctiption: desctiption,
                        thumbnail: thumbnail,
                        button: button,
                        link: link
                    }
                    data.push(content)
                }
            }
            dialog_sub_9["data"] = data
            console.log(data)
        })



    </script>
{{/contentFor}}
