<section class="padding-50px-tb bg-gray builder-bg contact-form-style6 border-none xs-padding-60px-tb wow slideInUp" data-wow-duration="0.5s" data-wow-delay="0.5s" id="contact-section12">
    <div class="container">
        <div class="row" id="form">
            <!-- section title -->
            <div class="col-md-6 col-sm-12 col-xs-12 center-col text-center">
                <h2 class="section-title-large sm-section-title-medium xs-section-title-large text-dark-gray font-weight-600 alt-font margin-six-bottom xs-margin-fifteen-bottom tz-text">
                    {{!-- ĐĂNG KÝ --}}
                </h2>
            </div>
            <!-- end section title -->
            <!-- contact form  -->
            <div class="col-md-6 col-sm-12 col-xs-12 center-col text-center">
                <div class="tab-style8">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <!-- tab navigation -->
                            <ul class="nav nav-tabs nav-tabs-light text-left alt-font text-small display-inherit text-center font-weight-500">
                                <li class="active"><a href="#tab_sec1" data-toggle="tab"><span class="tz-text">Cài đặt BOT</span></a></li>
                                {{!-- <li><a href="#tab_sec2" data-toggle="tab"><span class="tz-text">Card Info</span></a></li> --}}
                            </ul>
                            <!-- tab end navigation -->
                        </div>
                    </div>
                    <div class="tab-content">     
                        <!-- tab content -->
                        <div class="tab-pane med-text fade in active" id="tab_sec0">
                            
                            <div class="row">
                                <form action="/bot/add_update/vIJQh69U0r" class="width-100" method="post">
                                    <textarea class="medium-input border-radius-4" style="height: 150px" data-email="required" id="greeting" name="greeting" placeholder="*Your Greeting Message" type="text">{{doc.greeting_message}}</textarea>
                                    <input class="medium-input border-radius-4" data-email="required" id="thu-cung" name="thu-cung" placeholder="* Thú cưng" type="text" value="{{doc.data_dialog.0.dialogName}}"/>
                                    <div class="row">
                                        <div class="col-md-11 col-md-offset-1">
                                            {{#each doc.data_dialog.0.content}}
                                                <input class="medium-input border-radius-4" data-email="required" id="" name="thu-cung-{{inc @index 0}}" placeholder="Thú cưng 1" type="text" value="{{this.childDialogName}}"/>
                                                    <div class="row">
                                                        <div class="col-md-4 col-md-offset-0">
                                                            <input class="medium-input border-radius-4" data-email="required" id="" name="thu-cung-1-number" placeholder="Number of cards" type="text" value="{{this.pagination}}"/>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <a href="#tab_sec{{inc @index 0}}" data-toggle="tab" style="margin-left:-50%" class="btn btn-default">Add Card</a>
                                                        </div>
                                                    </div>
                                            {{/each}}
                                        </div>
                                    </div>

                                    <input class="medium-input border-radius-4" data-email="required" id="thu-cung" name="thu-cung" placeholder="* Thú cưng" type="text" value="{{doc.data_dialog.1.dialogName}}"/>
                                    <div class="row">
                                        <div class="col-md-11 col-md-offset-1">
                                            {{#each doc.data_dialog.1.content}}
                                                <input class="medium-input border-radius-4" data-email="required" id="" name="thu-cung-{{inc @index}}" placeholder="Thú cưng 1" type="text" value="{{this.childDialogName}}"/>
                                                    <div class="row">
                                                        <div class="col-md-4 col-md-offset-0">
                                                            <input class="medium-input border-radius-4" data-email="required" id="" name="thu-cung-1-number" placeholder="Number of cards" type="text" value="{{this.pagination}}"/>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <a href="#tab_sec{{inc @index 3}}" data-toggle="tab" style="margin-left:-50%" class="btn btn-default">Add Card</a>
                                                        </div>
                                                    </div>
                                            {{/each}}
                                        </div>
                                    </div>

                                    <input class="medium-input border-radius-4" data-email="required" id="thu-cung" name="thu-cung" placeholder="* Thú cưng" type="text" value="{{doc.data_dialog.2.dialogName}}"/>
                                    <div class="row">
                                        <div class="col-md-11 col-md-offset-1">
                                            {{#each doc.data_dialog.2.content}}
                                                <input class="medium-input border-radius-4" data-email="required" id="" name="thu-cung-{{inc @index}}" placeholder="Thú cưng 1" type="text" value="{{this.childDialogName}}"/>
                                                    <div class="row">
                                                        <div class="col-md-4 col-md-offset-0">
                                                            <input class="medium-input border-radius-4" data-email="required" id="" name="thu-cung-1-number" placeholder="Number of cards" type="text" value="{{this.pagination}}"/>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <a href="#tab_sec{{inc @index 6}}" data-toggle="tab" style="margin-left:-50%" class="btn btn-default">Add Card</a>
                                                        </div>
                                                    </div>
                                            {{/each}}
                                        </div>
                                    </div>

                                    <button class="tz_submit btn-medium btn-circle btn bg-sky-blue text-white tz-text" id="publish" style="width: 90%" type="button">
                                       Publish
                                   </button>

                                </form>

                            </div>
                        </div>
                        <!-- end tab content -->

                        {{!-- Thu cung --}}
                        <!-- tab content -->    
                        {{#times 1 3}}
                            <div class="tab-pane fade in" id="tab_sec{{this}}">
                                <div class="row">
                                    <form action="javascript:void(0)" class="width-500" method="post">
                                        <div class="row" style="width: 200%; margin-left: -50%; text-align: left" >
                                            {{#times 1 12}}
                                                <div class="col-md-4">
                                                    Card {{this}}
                                                    <input class="small-input border-radius-4" data-email="required" name="sub-thu-cung-{{@../this}}-{{this}}-title" placeholder="Title" type="text" />
                                                    <input class="small-input border-radius-4" data-email="required" name="sub-thu-cung-{{@../this}}-{{this}}-desctiption" placeholder="Description" type="text" />
                                                    <input class="small-input border-radius-4" data-email="required" name="sub-thu-cung-{{@../this}}-{{this}}-thumbnail" placeholder="Thumbnail Image" type="text" />
                                                    <input class="small-input border-radius-4" data-email="required" name="sub-thu-cung-{{@../this}}-{{this}}-button" placeholder="Button Text" type="text" />
                                                    <input class="small-input border-radius-4" data-email="required" name="sub-thu-cung-{{@../this}}-{{this}}-link" placeholder="Button Link" type="text" />
                                                </div>
                                            {{/times}}
                                        </div>
                                        <a href="#tab_sec0" data-toggle="tab" class="tz_submit btn-medium btn-circle btn bg-light-gray text-white tz-text" style="width: 50%">
                                        Back</a>
                                        <br><br>
                                        <button class="tz_submit btn-medium btn-circle btn bg-medium-green text-white tz-text" id="sub-thu-cung-1" style="width: 50%" type="submit">
                                            Save
                                        </button>
                                    </form>
                                </div>
                            </div>
                        {{/times}}
                        
                        {{#times 4 6}}
                            <div class="tab-pane fade in" id="tab_sec{{this}}">
                                <div class="row">
                                    <form action="javascript:void(0)" class="width-500" method="post">
                                        <div class="row" style="width: 200%; margin-left: -50%; text-align: left" >
                                            {{#times 1 12}}
                                            <div class="col-md-4">
                                                Card {{this}}
                                                <input class="small-input border-radius-4" data-email="required" name="sub-san-pham-{{inc @../this -4}}-{{this}}-title" placeholder="Title" type="text" />
                                                <input class="small-input border-radius-4" data-email="required" name="sub-san-pham-{{inc @../this -4}}-{{this}}-desctiption" placeholder="Description" type="text" />
                                                <input class="small-input border-radius-4" data-email="required" name="sub-san-pham-{{inc @../this -4}}-{{this}}-thumbnail" placeholder="Thumbnail Image" type="text" />
                                                <input class="small-input border-radius-4" data-email="required" name="sub-san-pham-{{inc @../this -4}}-{{this}}-button" placeholder="Button Text" type="text" />
                                                <input class="small-input border-radius-4" data-email="required" name="sub-san-pham-{{inc @../this -4}}-{{this}}-link" placeholder="Button Link" type="text" />
                                            </div>
                                            {{/times}}
                                        </div>  
                                        <a href="#tab_sec0" data-toggle="tab" class="tz_submit btn-medium btn-circle btn bg-light-gray text-white tz-text" style="width: 50%">
                                        Back</a>
                                        <br><br>
                                        <button class="tz_submit btn-medium btn-circle btn bg-medium-green text-white tz-text" id="sub-san-pham-1" style="width: 50%" type="submit">
                                            Save
                                        </button>
                                    </form>
                                </div>
                            </div>
                        {{/times}}
                        
                        {{#times 7 9}}
                            <div class="tab-pane fade in" id="tab_sec{{this}}">
                                <div class="row">
                                    <form action="javascript:void(0)" class="width-500" method="post">
                                        <div class="row" style="width: 200%; margin-left: -50%; text-align: left" >
                                            {{#times 1 12}}
                                            <div class="col-md-4">
                                                Card {{this}}
                                                <input class="small-input border-radius-4" data-email="required" name="sub-dich-vu-{{inc @../this -7}}-{{this}}-title" placeholder="Title" type="text" />
                                                <input class="small-input border-radius-4" data-email="required" name="sub-dich-vu-{{inc @../this -7}}-{{this}}-desctiption" placeholder="Description" type="text" />
                                                <input class="small-input border-radius-4" data-email="required" name="sub-dich-vu-{{inc @../this -7}}-{{this}}-thumbnail" placeholder="Thumbnail Image" type="text" />
                                                <input class="small-input border-radius-4" data-email="required" name="sub-dich-vu-{{inc @../this -7}}-{{this}}-button" placeholder="Button Text" type="text" />
                                                <input class="small-input border-radius-4" data-email="required" name="sub-dich-vu-{{inc @../this -7}}-{{this}}-link" placeholder="Button Link" type="text" />
                                            </div>
                                             {{/times}}
                                        </div>
                                        
                                        <a href="#tab_sec0" data-toggle="tab" class="tz_submit btn-medium btn-circle btn bg-light-gray text-white tz-text" style="width: 50%">
                                        Back</a>
                                        <br><br>
                                        <button class="tz_submit btn-medium btn-circle btn bg-medium-green text-white tz-text" id="sub-dich-vu-1" style="width: 50%" type="submit">
                                            Save
                                        </button>
                                    </form>
                                </div>
                            </div>
                        {{/times}}
                        
                    
                    </div>
                </div>
            </div>
            <!-- end contact form  -->
        </div>
    </div>
</section>

<!-- tab content -->

<!-- end tab content -->
{{#contentFor "pageScripts"}}
    <script>
        $(document).ready(function($) {
            {{!-- var doc = {{doc.data_dialog}} --}}
            {{!-- console.log(doc) --}}
          {{!-- console.log("                                   *********                           \n" +
                   "                             *******       *******                     \n" +
                   "                           ***                    ***                  \n" +
                   "                         **                         **                 \n" +
                   "                *****   **                           ***               \n" +
                   "             ****   *****                              **              \n" +
                   "           **                                           **             \n" +
                   "          *                                              *             \n" +
                   "         **              **                **            *             \n" +
                   "      ****               **        **      **           ******         \n" +
                   "    **                   **        **      **                 ****     \n" +
                   "  ***                              **                            ***   \n" +
                   "  *                                **                              **  \n" +
                   " *                               ****                               *  \n" +
                   " *                                                                  *  \n" +
                   "**                                                                  ** \n" +
                   "*                            **         **                           * \n" +
                   "**                            ***********                            * \n" +
                   " *                                ***                               ** \n" +
                   "  **                                                               **  \n" +
                   "   ***                                                            **   \n" +
                   "      ****                                                     ****    \n" +
                   "         ****                                               ****       \n" +
                   "            *************************************************          \n" +
                   " " +
                   " Happy to see you here!" +
                   " Contact me: quylk2906@gmail.com - 0963878723") --}}
        })

    </script>
    <script type="text/javascript">
        var thu_cung_1 = {}
        var thu_cung_2 = {}
        var thu_cung_3 = {}
        var dich_vu_1 = {}
        var dich_vu_2 = {}
        var dich_vu_3 = {}
        var san_pham_1 = {} 
        var san_pham_2 = {} 
        var san_pham_3 = {}
        
        $('#publish').click(function() {
            let megaData = []
            let greetingMessage = $('textarea[name=greeting]').val()
            let thu_cung = $('#thu-cung').val()
            let san_pham = $('#san-pham').val()
            let dich_vu = $('#dich-vu').val()

            if (thu_cung) {
                thu_cung_1["pagination"] = $('input[name=thu-cung-1-number]').val()
                thu_cung_1["childDialogName"] = $('input[name=thu-cung-1]').val()
                thu_cung_2["pagination"] = $('input[name=thu-cung-2-number]').val()
                thu_cung_2["childDialogName"] = $('input[name=thu-cung-2]').val()
                thu_cung_3["pagination"] = $('input[name=thu-cung-3-number]').val()
                thu_cung_3["childDialogName"] = $('input[name=thu-cung-3').val()
               
                let dialog = {
                    dialogName: thu_cung,
                    content: [thu_cung_1, thu_cung_2, thu_cung_3]
                }
                megaData.push(dialog)
            } 
            if (san_pham) {
                san_pham_1["pagination"] = $('input[name=san-pham-1-number]').val()
                san_pham_1["childDialogName"] = $('input[name=san-pham-1]').val()
                san_pham_2["pagination"] = $('input[name=san-pham-2-number]').val()
                san_pham_2["childDialogName"] = $('input[name=san-pham-2]').val()
                san_pham_3["pagination"] = $('input[name=san-pham-3-number]').val()
                san_pham_3["childDialogName"] = $('input[name=san-pham-3').val()

                let dialog = {
                    dialogName: san_pham,
                    content: [san_pham_1, san_pham_2, san_pham_3]
                }
                megaData.push(dialog)
            }
            if (dich_vu) {
                dich_vu_1["pagination"] = $('input[name=dich-vu-1-number]').val()
                dich_vu_1["childDialogName"] = $('input[name=dich-vu-1]').val()
                dich_vu_2["pagination"] = $('input[name=dich-vu-2-number]').val()
                dich_vu_2["childDialogName"] = $('input[name=dich-vu-2]').val()
                dich_vu_3["pagination"] = $('input[name=dich-vu-3-number]').val()
                dich_vu_3["childDialogName"] = $('input[name=dich-vu-3').val()

                let dialog = {
                    dialogName: dich_vu,
                    content: [dich_vu_1, dich_vu_2, dich_vu_3]
                }
                megaData.push(dialog)
            }

            var parameters = {
                _id: "sdsad",
                megaData: megaData,
                greetingMessage: greetingMessage
            };
            
            var json_text = JSON.stringify(parameters)
            $.ajax({
                url: '/bot/add_update',
                type: 'post',
                contentType: "application/json; charset=utf-8",
                data: json_text,
                dataType: 'json',
                success: function(response) {
                    let parse = JSON.parse(response)
                    console.log(parse)
                },
                error: function() {
                    console.log('Something wrong')
                }
            })
            //console.log(parameters)
        })


        $('#sub-thu-cung-1').click(function() {
            let data = []
            for (var i = 1; i <= 12; i ++) {
                let title       = $(`input[name=sub-thu-cung-1-${i}-title`).val()
                let desctiption = $(`input[name=sub-thu-cung-1-${i}-desctiption`).val()
                let thumbnail   = $(`input[name=sub-thu-cung-1-${i}-thumbnail`).val()
                let button      = $(`input[name=sub-thu-cung-1-${i}-button`).val()
                let link        = $(`input[name=sub-thu-cung-1-${i}-link`).val()
                if (title != null && title != "") {
                    let content = {
                        title: title,
                        desctiption: desctiption,
                        thumbnail: thumbnail,
                        button: button,
                        link: link
                    }
                    data.push(content)
                }
            }
            thu_cung_1["data"] = data
            console.log(data)
        })
        $('#sub-thu-cung-2').click(function() {
            let data = []
            for (var i = 1; i <= 12; i ++) {
                let title       = $(`input[name=sub-thu-cung-2-${i}-title`).val()
                let desctiption = $(`input[name=sub-thu-cung-2-${i}-desctiption`).val()
                let thumbnail   = $(`input[name=sub-thu-cung-2-${i}-thumbnail`).val()
                let button      = $(`input[name=sub-thu-cung-2-${i}-button`).val()
                let link        = $(`input[name=sub-thu-cung-2-${i}-link`).val()
                if (title != null && title != "") {
                    let content = {
                        title: title,
                        desctiption: desctiption,
                        thumbnail: thumbnail,
                        button: button,
                        link: link
                    }
                    data.push(content)
                }
            }
            thu_cung_2["data"] = data
            console.log(data)
        })
        $('#sub-thu-cung-3').click(function() {
            let data = []
            for (var i = 1; i <= 12; i ++) {
                let title       = $(`input[name=sub-thu-cung-3-${i}-title`).val()
                let desctiption = $(`input[name=sub-thu-cung-3-${i}-desctiption`).val()
                let thumbnail   = $(`input[name=sub-thu-cung-3-${i}-thumbnail`).val()
                let button      = $(`input[name=sub-thu-cung-3-${i}-button`).val()
                let link        = $(`input[name=sub-thu-cung-3-${i}-link`).val()
                if (title != null && title != "") {
                    let content = {
                        title: title,
                        desctiption: desctiption,
                        thumbnail: thumbnail,
                        button: button,
                        link: link
                    }
                    data.push(content)
                }
            }
            thu_cung_3["data"] = data
            console.log(data)
        })

        $('#sub-san-pham-1').click(function() {
            let data = []
            for (var i = 1; i <= 12; i ++) {
                let title       = $(`input[name=sub-san-pham-1-${i}-title`).val()
                let desctiption = $(`input[name=sub-san-pham-1-${i}-desctiption`).val()
                let thumbnail   = $(`input[name=sub-san-pham-1-${i}-thumbnail`).val()
                let button      = $(`input[name=sub-san-pham-1-${i}-button`).val()
                let link        = $(`input[name=sub-san-pham-1-${i}-link`).val()
                if (title != null && title != "") {
                    let content = {
                        title: title,
                        desctiption: desctiption,
                        thumbnail: thumbnail,
                        button: button,
                        link: link
                    }
                    data.push(content)
                }
            }
            san_pham_1["data"] = data
            console.log(data)
        })
        $('#sub-san-pham-2').click(function() {
            let data = []
            for (var i = 1; i <= 12; i ++) {
                let title       = $(`input[name=sub-san-pham-2-${i}-title`).val()
                let desctiption = $(`input[name=sub-san-pham-2-${i}-desctiption`).val()
                let thumbnail   = $(`input[name=sub-san-pham-2-${i}-thumbnail`).val()
                let button      = $(`input[name=sub-san-pham-2-${i}-button`).val()
                let link        = $(`input[name=sub-san-pham-2-${i}-link`).val()
                if (title != null && title != "") {
                    let content = {
                        title: title,
                        desctiption: desctiption,
                        thumbnail: thumbnail,
                        button: button,
                        link: link
                    }
                    data.push(content)
                }
            }
            san_pham_2["data"] = data
            console.log(data)
        })
        $('#sub-san-pham-3').click(function() {
            let data = []
            for (var i = 1; i <= 12; i ++) {
                let title       = $(`input[name=sub-san-pham-3-${i}-title`).val()
                let desctiption = $(`input[name=sub-san-pham-3-${i}-desctiption`).val()
                let thumbnail   = $(`input[name=sub-san-pham-3-${i}-thumbnail`).val()
                let button      = $(`input[name=sub-san-pham-3-${i}-button`).val()
                let link        = $(`input[name=sub-san-pham-3-${i}-link`).val()
                if (title != null && title != "") {
                    let content = {
                        title: title,
                        desctiption: desctiption,
                        thumbnail: thumbnail,
                        button: button,
                        link: link
                    }
                    data.push(content)
                }
            }
            san_pham_3["data"] = data
            console.log(data)
        })

        $('#sub-dich-vu-1').click(function() {
            let data = []
            for (var i = 1; i <= 12; i ++) {
                let title       = $(`input[name=sub-dich-vu-1-${i}-title`).val()
                let desctiption = $(`input[name=sub-dich-vu-1-${i}-desctiption`).val()
                let thumbnail   = $(`input[name=sub-dich-vu-1-${i}-thumbnail`).val()
                let button      = $(`input[name=sub-dich-vu-1-${i}-button`).val()
                let link        = $(`input[name=sub-dich-vu-1-${i}-link`).val()
                if (title != null && title != "") {
                    let content = {
                        title: title,
                        desctiption: desctiption,
                        thumbnail: thumbnail,
                        button: button,
                        link: link
                    }
                    data.push(content)
                }
            }
            dich_vu_1["data"] = data
            console.log(data)
        })
        $('#sub-dich-vu-2').click(function() {
            let data = []
            for (var i = 1; i <= 12; i ++) {
                let title       = $(`input[name=sub-dich-vu-2-${i}-title`).val()
                let desctiption = $(`input[name=sub-dich-vu-2-${i}-desctiption`).val()
                let thumbnail   = $(`input[name=sub-dich-vu-2-${i}-thumbnail`).val()
                let button      = $(`input[name=sub-dich-vu-2-${i}-button`).val()
                let link        = $(`input[name=sub-dich-vu-2-${i}-link`).val()
                if (title != null && title != "") {
                    let content = {
                        title: title,
                        desctiption: desctiption,
                        thumbnail: thumbnail,
                        button: button,
                        link: link
                    }
                    data.push(content)
                }
            }
            dich_vu_2["data"] = data
            console.log(data)
        })
        $('#sub-dich-vu-3').click(function() {
            let data = []
            for (var i = 1; i <= 12; i ++) {
                let title       = $(`input[name=sub-dich-vu-3-${i}-title`).val()
                let desctiption = $(`input[name=sub-dich-vu-3-${i}-desctiption`).val()
                let thumbnail   = $(`input[name=sub-dich-vu-3-${i}-thumbnail`).val()
                let button      = $(`input[name=sub-dich-vu-3-${i}-button`).val()
                let link        = $(`input[name=sub-dich-vu-3-${i}-link`).val()
                if (title != null && title != "") {
                    let content = {
                        title: title,
                        desctiption: desctiption,
                        thumbnail: thumbnail,
                        button: button,
                        link: link
                    }
                    data.push(content)
                }
            }
            dich_vu_3["data"] = data
            console.log(data)
        })


/*
name="sub-thu-cung-1-9-title" 
name="sub-thu-cung-1-9-desctiption" 
name="sub-thu-cung-1-9-thumbnail"
name="sub-thu-cung-1-9-button"
name="sub-thu-cung-1-9-link
*/
    </script>
{{/contentFor}}
